version: "3.8"

services:
  database:
    container_name: database
    build: ./database
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: library
    volumes:
      - db_volumes:/var/lib/mysql

  auth_service:
    container_name: auth_service
    build: ./auth
    ports:
      - "5001:5001"
    depends_on:
      - database

  book_service:
    container_name: book_service
    build: ./book
    ports:
      - "5002:5002"
    depends_on:
      - database

  borrow_service:
    container_name: borrow_service
    build: ./borrow
    ports:
      - "5003:5003"
    depends_on:
      - database

  app:
    container_name: app
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - auth_service
      - book_service
      - borrow_service
      - database

volumes:
  db_volumes:

