version: "3.8"

services:
  database:
    build: ./database
    ports:
      - "3306:3306"
    volumes:
      - db_volumes:/var/lib/mysql
    restart: always

  auth_service:
    build: ./auth
    ports:
      - "5001:5001"
    depends_on:
      - database
    restart: always

  book_service:
    build: ./book
    ports:
      - "5002:5002"
    depends_on:
      - database
    restart: always

  borrow_service:
    build: ./borrow
    ports:
      - "5003:5003"
    depends_on:
      - database
    restart: always

  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - auth_service
      - book_service
      - borrow_service
    restart: always

volumes:
  db_volumes:

